<!-- FILEPATH: /c:/Users/New User/OneDrive/Documents/CMSC335/matcha/public/match.ejs -->
<!-- BEGIN: be15d9bcejpp -->
<!DOCTYPE html>
<html>
<head>
    <title>Bubble Tea Information</title>
    <link rel="stylesheet" href="/css/match.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <script src="/js/match.js"></script>

</head>
<body>
    <h1>find ur perfect tea</h1>
    <!-- BEGIN: Loop through data and display cards -->
    <% data.forEach(function(item) { %>
        <div class="card">
            <p>Bubble Tea: <%= item.bubbleTea %></p>
            <p>Toppings: <%= item.toppings.join(', ') %></p>
            <p>Fun fact: <%= item.fact %></p>
        </div>
    <% }); %>
    <!-- END: Loop through data and display cards -->

</body>
</html>
<!-- END: be15d9bcejpp -->
